<div class="top-menu">
	<img class="logo"
		src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="demo">
	<!-- <div>
		{{ startDate | date: 'dd/MM/yyyy' }}
	</div>

	<div>
		{{ title | titlecase }}
	</div>

	<div>
		{{ price | currency: 'BRL' }}
	</div>

	<div>
		{{ rate | percent }}
	</div>

	<div>
		{{ courses | json }}
	</div> -->

	<!-- <div *ngFor="let pair of course | keyvalue">
		{{ pair.key + ': ' + pair.value }}
	</div> -->

</div>

<!-- <button (click)="onCoursesEdited()">Edit Courses</button> -->

<div *ngIf="courses[0] as course"
	class="courses">

	<ng-template #blankImage
		let-courseName="description">
		<p class="warn">
			{{ courseName }} has no image available yet
		</p>
		<img src="/assets/empty-image.png"
			alt>
	</ng-template>

	<course-card [course]="course"
		[noImageTpl]="blankImage"
		(courseSelected)="onCourseSelected($event)">

		<course-image [src]="course.iconUrl"></course-image>
		<course-image [src]="courses[1].iconUrl"></course-image>
		<course-image [src]="courses[2].iconUrl"></course-image>

		<div class="course-description">
			{{ course.longDescription }}
		</div>

	</course-card>

</div>

<!-- <div #container
	class="courses">
	<course-card *ngFor="let course of courses;"
		[course]="course"
		(courseSelected)="onCourseSelected($event)">
	</course-card>
</div> -->

<!-- <div #container
	class="courses">
	<course-card #cardRef1
		[course]="courses[0]"
		(courseSelected)="onCourseSelected($event)">
	</course-card>

	<course-card #cardRef2
		[course]="courses[1]"
		(courseSelected)="onCourseSelected($event)">
	</course-card>
</div> -->
